body {
  background-color: #282c34;
}


.App-logo {
  width: 80%;
}


.row {
  display: flex;
  justify-content: space-around;
}

.col {
  flex-basis: 49%;
  text-align: center;
}

.formElement {
  width: 90%;
}

ul {
  list-style-type: none;
  margin-left: 25px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;

}

.applicationBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Poppins;
  font-size: calc(5px + 1.5vmin);
  color: white;
  padding-top: 10px;
  align-content: center;
}

input.form-control,
select.form-control {
  text-align: center;
  border: 3px solid green;
  font-size: 1em;
  width: 90%;
  height: 30px;
}

.modalMain {
  border: 0px solid red;
}

.modal-body {
  background-color: #81BECE;
  font-weight: 700;
  min-height: 10em;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.modal-header {
  background-color: #282c34;
  border: 2px solid white;
  color: white
}

.modal-footer {
  padding: 10px;
  background-color: #282c34 !important;
  border: 2px solid white;
}

.modalBackground {
  background-color: #282c34;
}

.container {
  padding-top: 10px;
  display: block;
  width: 100%;
}



.containerForm {
  background-color: #282c34;
  width: auto;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 4px solid gray;
  height: 400px;

}


.containerTable {
  background-color: #282c34;
  width: auto;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 4px solid grey;
  margin-top: 10px;
}

.form-label {
  display: block;
  margin: 20px auto 10px auto;
  font-size: large;

}

.fa-arrow-up {
  color: green;
  size: 0.9em;
  cursor: pointer;
  padding-left: 5px;

}

.fa-arrow-down {
  color: red;
  size: 0.9em;
  cursor: pointer;
  padding-left: 5px;
}

.cityTd {
  min-width: 100px;
}

.tableSearch {
  width: 100%;
}

#formSearch {
  margin: 10px 20px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  border: 3px solid gray;

}

.searchText {
  line-height: 60px;
  margin-right: 10px;
}

.input-search {
  height: 30px;
  margin-top: 12px;
}

.btnReset {
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
  height: 30px;
}

.tableUs {
  width: 90%;
  margin: auto;
}

.tableUs thead {
  height: 50px;
}

.btn-outline-success {
  background-color: rgb(97, 199, 97);
  border-radius: 10px;
  width: 80px;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
}

.userTableHeadRow p {
  display: inline-block;
  margin: 5px 0 5px 0;
  height: 30px;
}

.green {
  color: green;
  font-size: 0.8em;
  max-width: 80%;
}

tbody td {
  border: 1px solid white;
  cursor: pointer;
  padding: 5px;
}




@media screen and (max-width: 600px) {

  .row {
    flex-direction: column;
  }

  .userTableHeadRow {
    height: 70px;
  }

  .containerForm {
    height: fit-content;
  }

  .userTableHeadRow p {
    display: block;
  }

}